<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="FileWatcher.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="NLog" publicKeyToken="5120e14c03d0593c" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <userSettings>
    <FileWatcher.Settings>
      <setting name="Description" serializeAs="String">
        <value>Program to watch file changes in a folder</value>
      </setting>
      <setting name="DisplayName" serializeAs="String">
        <value>FileWatcher</value>
      </setting>
      <setting name="ServiceName" serializeAs="String">
        <value>FileWatcher</value>
      </setting>
      <setting name="NameFoldersConfigFile" serializeAs="String">
        <value>folders.config</value>
      </setting>
      <setting name="ApplicationToastId" serializeAs="String">
        <value>File Watcher</value>
      </setting>
      <setting name="LogsFolderDir" serializeAs="String">
        <value>.\logs\</value>
      </setting>
      <setting name="HourIntervalToCleanLogs" serializeAs="String">
        <value>24</value>
      </setting>
    </FileWatcher.Settings>
  </userSettings>
</configuration>